li li a {
    font-size: 18px;
    font-weight: 750;
}

li:hover li a:hover {
    color: white;
    background: #282828;
}


ul li li a{
    color: #000000;
    background: #ffffff;
}

#myNavbar {
    margin-top: 10px;
    font-size: 18px;
    color: white;
    height: 50px;
    margin-left: 215px;
}

#myNavbar ul li a {

}

#btn-log{

}
