li li a {
	font-size: 18px;
	font-weight: 750;
}

li:hover li a:hover {
	color: white;
	background: #282828;
}

#popups{
	background-color: #1278b6;
}

#bodyDefault {
	background-image: url('../images/home3.jpg');
	background-color: #212121;
	background-repeat: no-repeat;
	height: 100%;
	background-size: cover;
	background-position: -50px 78px;
}

.navbar-nav > li {
	text-align: center;
}

@media (min-width: 768px) {
	.navbar-nav > li > a {
		margin-top: 20px;
	}
}