body{
	background-color: transparent;
}

#landing{
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	background:lightblue;
}
.optionDiv{
    display: table;
    text-align: center;
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#choices {
    overflow-x: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

@media(min-width: 1250px){
    /*#choices {*/
        /*flex-direction: row;*/
    /*}*/
    .row {
        flex-direction: row;
    }
    #single, #multiple, #calibration {
        height: 500px;
        margin-left: 16px;
        margin-right: 32px;
        margin-bottom: 50px;
    }

    #calibration {
        margin-top: 0;
    }
}

@media(max-width: 1250px){
    /*#choices {*/
        /*flex-direction: column;*/
    /*}*/
    .row {
        flex-direction: column;
        width: 100%;
    }
    #single, #multiple, #calibration {
        height: 200px;
        margin-top: 50px;
        margin-left: 16px;
        margin-right: 16px;
    }
    #calibration {
        margin-bottom: 50px;
    }
}


/* Background Image */
html{
  background: url(../images/lab.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h2{
    margin-bottom: 0px;
	font-family:sans-serif;
	text-align:center;
}

/* Initially hide the liquid div.*/
#liquidDiv{
    display:none;
}

#logo{
    height: auto;
    width: 475px;
    margin-left: 40px;
    margin-top: 20px;
}

button{
    color: white;
    margin-top: 10px;
    background: transparent;
    height:30px;
    border: 1px solid white;
    border-radius: 10px;
}

button:hover{
   background: RGBa(245,245,245,0.4); 
}

select{
    color: white;
    background: transparent;
    height:30px;
    border: 1px solid #EEEEEE;
    border-radius: 7px;
}

option{
    background-color: #222222;
}

select:hover{
   background: RGBa(245,245,245,0.4); 
}

.panel{
    color: white;
    font-family: sans-serif;
    display: table-cell;
    vertical-align: middle;
    
    background-color:rgba(0,0,0,0.6);
    
    border:1px solid white;
    border-radius: 10px;
    
    margin-top: 10%;
    margin-bottom: 10%;
    
    padding-left: 25px;
    padding-right: 25px;
    overflow-x: auto;
    width: 380px;
}
