body{
	background-color: transparent;
}



#landing{
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	background:lightblue;
}
.optionDiv{
    display: table;
    text-align: center;
    height: 70%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10%;
}
html, body, #choices {
	height:100%;
    margin: 0px;
}

/* Background Image */
html{
  background: url(../images/lab.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#single, #multiple,#calibration{
    width: 33.33%;
    height: 100%;
}
#single{
    float:left;
}
#multiple{
    display: inline-block;
}

#calibration{
    float:right;
}

h2{
    margin-bottom: 0px;
	font-family:sans-serif;
	text-align:center;
}

/* Initially hide the liquid div.*/
#liquidDiv{
    display:none;
}

#logo{
    height: auto;
    width: 475px;
    margin-left: 40px;
    margin-top: 20px;
}

button{
    color: white;
    margin-top: 10px;
    background: transparent;
    height:30px;
    border: 1px solid white;
    border-radius: 10px;
}

button:hover{
   background: RGBa(245,245,245,0.4); 
}

select{
    color: white;
    background: transparent;
    height:30px;
    border: 1px solid #EEEEEE;
    border-radius: 7px;
}

option{
    background-color: #222222;
}

select:hover{
   background: RGBa(245,245,245,0.4); 
}

.panel{
    color: white;
    font-family: sans-serif;
    display: table-cell;
    vertical-align: middle;
    
    background-color:rgba(0,0,0,0.6);
    
    border:1px solid white;
    border-radius: 10px;
    
    margin-top: 10%;
    margin-bottom: 10%;
    
    padding-left: 25px;
    padding-right: 25px;
}

@media (max-width: 1050px) {
    #header{
        text-align:center;
    }
    
    #single, #multiple, #calibration{
        float:none;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height:50%;
    }

}
