/* Background Image */
html{
  background: url(../static/images/lab.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#inputDiv{
    color:white;
    background: rgba(40,40,40,0.6);
    border: 1px solid white;
    border-radius: 10px;
    display: inline-block;
    padding: 40px;
}
/*Place holder text color. Probably only works in Chrome */
#content ::-webkit-input-placeholder{
    color: white;
}

td{
    border: none;
    cursor: auto;
    padding: .5em;

}

html,body{
    width:100%;
    margin:0px;
    text-align: center;

}

#content input,#content button{
    color:white;
    margin-top: 10px;
    height:50px;
    width: 215px;
    border-radius: 10px;
}
#content input{
    color: white;
    margin-top: 20px;
    background: rgba(42,42,42,0.9);
    border: 1px solid white;
    border-radius:10px;
    width: 280px;
    text-align: center;
}


#content button{
    background: #92d050;
	margin-top: 40px;
    margin-top: 40px;
    color: black;
    font-weight: 600;
}

#headerDiv h2{
    color: white;
    margin-top: 100px;
    text-align: center;
    font-family: sans-serif;
}

#content hr{
    color: black;
    width: 80%;
}
#divContainer{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align:     center;
}

/* Answer page style */
#answerDiv{
    display: none;
    margin:15px;
    color:white;
    text-align: center;
    background: rgba(40,40,40,0.6);
    border: 1px solid white;
    border-radius: 10px;
    padding: 30px;
}

#arrowContainer{
    text-align: center;
}

#arrowContainer img{
    height: 35px;
    width: 100px;
    margin-top: 10px;
    cursor:pointer;
}


.inline-div{
    position: relative;
    display:inline-block;
    margin: 20px;
}


#molarity, #molarityValue{
    margin-top: 0px;
    margin-bottom: 0px;
}

.flaskImgAndNumberDiv{
    height: 217px;
}

.flaskImgAndNumberDiv p{
    margin-top: 0;
    position: relative;
    bottom:2em;
    font-size: 1.5em;
}

.blueArrow{
    position: absolute;
    right: 0px;
    top:40%;
}

.dilutionFlask{
    position: relative;
    width:225px;
}

table {
	table-layout: fixed;
	word-wrap:break-word !important;
}

