input{
    color:white;
    margin-top: 10px;
    background: #5b9bd5;
    height: 40px;
    border-radius: 10px;
}

/*Place holder text color. Probably only works in Chrome */
::-webkit-input-placeholder{
    color: white;
}

html,body{
    width:100%;
    margin:0px;
}

button{
    color:white;
    margin-top: 10px;
    background: #92d050;
    height:30px;
    border-radius: 10px;
}

#headerDiv h2{
    margin-top: 100px;
    text-align: center;
    font-family: sans-serif;
}

/* This is a hack. Need to fix to fix this to really center */
#divContainer{
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    text-align:     center;
}

/* Answer page style */
#answerDiv{
    display: none;
    position: absolute;
    background: white;
    width:100%;
    height:100%;
    bottom: 0;
    text-align: center;
}

#arrowContainer{
    text-align: center;
}

#arrowContainer img{
    height: 35px;
    width: 100px;
    margin-top: 10px;   
}

#internalTable{
    display:none;
}

.inline-div{
	position: relative;
    display:inline-block;
    margin: 20px;    
}


#molarity, #molarityValue{
    margin-top: 0px;
    margin-bottom: 0px;
}

.flaskImgAndNumberDiv{
    height: 217px;   
}

.flaskImgAndNumberDiv p{
    margin-top: 0; 
    position: relative;
    bottom:2em;
    font-size: 1.5em;
}

.blueArrow{
    position: absolute;
    right: 0px;
    top:40%;
}


.dilutionFlask{
    position: relative;
    width:225px;
}

