/* Background Image */
html{
  background: url(../static/images/lab.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.titleImage {
    max-height: 60%;
    max-width: 60%;
    display: block;
    margin: auto;
}

/* Answer page style */
#answerDiv{
    display: none;
    margin:15px;
    color:black;
    text-align: center;
    background: rgba(40,40,40,0.6);
    border: 1px solid white;
    border-radius: 10px;
    padding: 30px;
}

.flaskDescription {
    position: relative;
    bottom:-35px;
    margin-top: 0px;
    margin-bottom: 0px;
}
#flaskNumber {
    color:black;
    margin: -10px;
}
#volumeOfAnalyte {
    background: rgba(42,42,42,0.9);
    border: 1px solid white;
    border-radius: 10px;
    width: 250px;
    height: 50px;
    text-align: center;
    margin-top: 2em;
    margin-left: -12px;
}
#arrowContainer{
    text-align: center;
    color: white;
}

#arrowContainer img{
    height: 35px;
    width: 100px;
    margin-top: 10px;
    cursor:pointer;
}


.inline-div{
	position: relative;
    display:inline-block;
    margin: 20px;
    color: white;
}


#molarity, #molarityValue{
    margin-top: 0px;
    margin-bottom: 0px;
}

.flaskImgAndNumberDiv{
    height: 217px;   
}

.flaskImgAndNumberDiv p{
    margin-top: 0; 
    position: relative;
    padding-bottom: 10px;;
    font-size: 1.5em;
    color: white;
}

.blueArrow{
    position: absolute;
    right: 0px;
    top:40%;
}

.dilutionFlask{
    position: relative;
    width:225px;
    padding-bottom: 50px;
}
#largeBeakerImg{
    width: 180px;
}

#smallBeakerImg{
    width: 130px;
    margin: 10px auto;
    padding-bottom: 10px;
}

#saveButton {
    background: #92d050;
    margin-top: 40px;
    margin-bottom: 20px;
    color: black;
    font-weight: 600;
    border-radius: 20px;
    height: 3.7em;
    width: 18em;
}

#printButton {
    background: #92d050;
    margin-top: 40px;
    margin-bottom: 20px;
    color: black;
    font-weight: 600;
    border-radius: 20px;
    height: 3.7em;
    width: 18em;
}

#answerHomeButton {
    background: #92d050;
    margin-top: 40px;
    margin-bottom: 20px;
    color: black;
    font-weight: 600;
    border-radius: 20px;
    height: 3.7em;
    width: 18em;
}