.inline-div {
    margin: 20px;
    position: relative;
    display: inline-block;
}
input {
    height: 50px;
}

.grey-div{
    color:white;
    background: rgba(40,40,40,0.6);
    border: 1px solid white;
    border-radius: 10px;
    display: inline-block;
    padding: 20px;
}

td {
    border: none;
    cursor: auto;
    padding-left: 5px;
    padding-right: 5px;
}

.text-center{
    text-align: center;
}
/*Place holder text color. Probably only works in Chrome */

::-webkit-input-placeholder {
    color: white;
}

html,
body {
    width: 100%;
    margin: 0px;
    height: 100%;
}
button {
    color: white;
    background: rgba(100, 130, 100, 0.9);
}

button:hover {
    background: rgba(120, 150, 120, 0.9);
}


table p {
    color: white;
    text-align: center;
    font-family: sans-serif;
    margin-top: 10px;
    margin-bottom: 0px;
}
#headerDiv h2 {
    margin-top: 100px;
    text-align: center;
    font-family: sans-serif;
}
h3 {
    text-align: center;
    font-family: sans-serif;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
}
/* This is a hack. Need to fix to fix this to really center */

#divContainer {
    /*width: 550px;*/
    margin-left: auto;
    margin-right: auto;
}
/* Answer Div Styles */

#answerDiv {
    display: none;
    margin:15px;
    color:white;
    text-align: center;
}
.dilutionFlask {
    width: 225px;
    position: relative;
}
#arrowContainer {
    text-align: center;
}
#arrowContainer img {
    height: 35px;
    width: 100px;
    margin-top: 10px;
}
.blueArrow {
    top: 40%;
    right: 0px;
    position: absolute;
}

.flaskDescription {
    position: relative;
    bottom:-35px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.flaskImgAndNumberDiv {
    height: 217px;
}
.flaskImgAndNumberDiv p {
    color:black;
    margin-top: 0;
    position: relative;
    bottom: 2em;
    font-size: 1.5em;
}
#answerButtonsDiv {
    padding-bottom: 40px;
}
#answerButtonsDiv button {
    margin-top: 30px;
    margin-bottom: 30px;
}

#myAlert{
    display: none;
    margin-top: 15px;
    margin-bottom: 5px;
    border: 1px solid white;
}

#largeBeakerImg{
    width: 180px;
}

#smallBeakerImg{
    width: 130px;
}

#stockSolutionDiv .blueArrow{
    right: -50px;
}