.inline-div{
	position: relative;
    display:inline-block;
    margin: 20px;    
}

input{
    color:white;
    margin-top: 10px;
    background: #5b9bd5;
    height: 40px;
    border-radius: 10px;
}

td{
    padding-left: 5px;
    padding-right: 5px;
}

/*Place holder text color. Probably only works in Chrome */
::-webkit-input-placeholder{
    color: white;
}

html,body{
    width:100%;
    margin:0px;
}

button{
    color:white;
    margin-top: 10px;
    background: #92d050;
    height: 3.5em;
    width: 100px;
    border-radius: 10px;
}

table p{
    text-align: center;
    font-family: sans-serif;
}

#headerDiv h2{
    margin-top: 100px;
    text-align: center;
    font-family: sans-serif;
}
h3{
    background: -webkit-linear-gradient(white, #b9d5ed);
    text-align: center;
    font-family: sans-serif;
    
    width: 35em;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
}

/* This is a hack. Need to fix to fix this to really center */
#divContainer{
    width: 550px;
    margin-left: auto;
    margin-right: auto;
}

/* Answer Div Styles */

#answerDiv{
    display: none;
    position: absolute;
    background: white;
    width:100%;
    height:100%;
    bottom: 0;
    text-align: center;
}

.dilutionFlask{
    position: relative;
    width:225px;
}

#arrowContainer{
    text-align: center;
}

#arrowContainer img{
    height: 35px;
    width: 100px;
    margin-top: 10px;   
}

.blueArrow{
    position: absolute;
    right: 0px;
    top:40%;
}

#molarity, #molarityValue{
    margin-top: 0px;
    margin-bottom: 0px;
}

.flaskImgAndNumberDiv{
    height: 217px;   
}

.flaskImgAndNumberDiv p{
    margin-top: 0; 
    position: relative;
    bottom:2em;
    font-size: 1.5em;
}

#answerButtonsDiv{
    padding-bottom: 40px;
}
#answerButtonsDiv button{
    
    margin-top: 30px;
    margin-bottom: 30px;
}